<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Add new store product</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>

</head>
<body class="text-center">

<main>
    <div th:replace="parts/navbar.html :: navigation"></div>

    <h1 class="h1 mb-3 font-weight-normal" style="padding-top: 60px">Store product</h1>

    <form class="row d-flex justify-content-center" th:action="@{/request-add-store-product}" enctype="multipart/form-data"
          method="post" style="padding-top: 10px">
        <div class="col-lg-auto d-flex justify-content-center flex-column">
            <span class="title">UPC</span>
            <input class="fields" type="text" id="upc" name="upc" th:value="*{storeProduct.upc}"
                   placeholder="Upc" required>



            <span class="title">Promo-product UPC</span>
            <select class="limited-drop-down" id="upcPromo" name="upcPromo" th:value="*{storeProduct.upcPromo}"
                    style="width: 450px; height: 40px" required>
                <option th:each="upc : ${otherUPCs}" th:value="${upc}" th:text="${upc}"
                        th:selected="${upc==storeProduct.upcPromo}">
                </option>
            </select>


            <span class="title">Product</span>
            <select class="limited-drop-down" id="productId" name="productId" th:value="*{storeProduct.productId}"
                    style="width: 450px; height: 40px" required>
                <option th:each="product : ${products}" th:value="${product.productId}" th:text="${product.productName}"
                        th:selected="${product.productId==storeProduct.productId}">
                </option>
            </select>


            <span class="title">Selling price(UAH)</span>
            <input class="fields" type="number" min="0.01" max="500000" step="0.01" id="sellingPrice" name="sellingPrice" th:value="*{storeProduct.sellingPrice}"
                   placeholder="Selling price" required>

            <span class="title">Quantity</span>
            <input class="fields" type="number" min="0" max="9999999" step="1" id="productsNumber" name="productsNumber" th:value="*{storeProduct.productsNumber}"
                   placeholder="Quantity" required>

            <span class="title">Is promotional product</span>
            <select class="limited-drop-down" id="isPromotionalProduct" name="isPromotionalProduct" th:value="*{storeProduct.isPromotionalProduct}"
                    style="width: 450px; height: 40px" required>
                <option th:each="promo : ${promos}" th:value="${promo.key}" th:text="${promo.value}"
                        th:selected="${promo.key==storeProduct.isPromotionalProduct}">
                </option>
            </select>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </div>
    </form>
</main>
</body>
</html>